html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
    margin:0; padding:0; border:0; outline:0; font-size:100%; 
    vertical-align:baseline; background:transparent; 
}

body {
    line-height:1;
    font-family: Raleway;
}
.title {
    font-family: Orbitron;
}
.game {
    border-left: 1px solid black;
    padding-left: 20px;
    margin: 50px;
}
.stats {
    margin: 15px 0 0 0;
}
.stat {
    font-weight: 300;
    line-height: 1.6;
}
.board {
    background-color: #99ccff;
    width: 450px;
    height: 375px;
    margin: 20px 0;
    border: solid 1px black;
    padding: 0px;
}
.status {
    font-weight: heavy;
    text-align: center;
    line-height: 2.0;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.author {
    line-height: 1.6;
}
.cell {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
}
.eaten-apple {
    background: red;
}
.snake {
    background: black;
}
.space {
    background: #99ccff;
}
.apple {
    background-color: #99ccff;
    background-size: contain;
    background-image: url(../img/apple.png);
    background-repeat: no-repeat;
}
  